body{
    background-image: url("eli.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

div{
    color: white;
    padding-left: 10px;
    
}

span{
    padding-left: 30px;
}

h1{
    padding-left: 90px;
    color:  green;
    font-size: 35px;
}

input{
    color: red;
}

.App{
    color: chocolate;
    font-display: fallback;
    box-sizing: border-box;
}

button{
    border-radius: 45%;
    color: black;
    background-color: gray;
}